// Customize some defaults
// $body-color: #333;
// $body-bg: #fff;
// $border-radius: .4rem;
//  $success: green;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Quickly modify global styling by enabling or disabling optional features.

// $enable-caret:                true !default;
// $enable-rounded:              true !default;
$enable-shadows:              true ;
$enable-gradients:            true ;
// $enable-transitions:          true !default;
// $enable-reduced-motion:       true !default;
// $enable-smooth-scroll:        true !default;
// $enable-grid-classes:         true !default;
// $enable-container-classes:    true !default;
// $enable-cssgrid:              false !default;
// $enable-button-pointers:      true !default;
// $enable-rfs:                  true !default;
// $enable-validation-icons:     true !default;
// $enable-negative-margins:     false !default;
// $enable-deprecation-messages: true !default;
// $enable-important-utilities:  true !default;
